@charset "utf-8";

.body {
    font-family: 'Noto Sans JP', sans-serif;
}


.grdBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    background: linear-gradient(90deg, #7097e7 0%, #2b213b 50%, #ab4f60 80%, #7097e7 100%);
    background-size: 200% 200%;
    animation: bggrdAnime 25s ease infinite;
}

@keyframes bggrdAnime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 150% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

span.password {
    font-size: 150%;
    font-family: monospace;
    font-weight: bold;
    margin: 0px 0.3em;
}

input[type=button] {
    font-size: 125%;
    margin: 2em;
}

.content {
    width: 750px
}

.card {
    height: 350px;
    width: 750px;
    position: relative;
    display: flex;
    justify-content: center;
}


.card__command {
    font-family: 'Noto Sans JP', sans-serif;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    padding: 20px;
}


p.card__text {
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    line-height: 1.5;
}

h1.card__text {
    margin: 16px;
    font-size: 36px;
    color: #ffffff;
}

.btn {
    width: 200px;
    height: 60px;
    padding: 0;
    background: #fff;
    border-radius: 5px;
    opacity: 0.5;
    border: none;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.btn:hover {
    background: #7097e7;
}